<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.thetarangers.thetadex">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_theta_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_theta_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="it.thetarangers.thetadex.activities.PokemonDetailActivity" />
        <activity android:name="it.thetarangers.thetadex.activities.PokedexActivity" />
        <activity
            android:name="it.thetarangers.thetadex.activities.MainActivity"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>